html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --title-color: #212121;
  --adress-link: rgba(255, 255, 255, 0.6);
  --white: #ffffff;
  --dark-bg: #2f303a;
  --light-bg: #e5e5e5;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section-projects {
  padding-top: 95px;
  padding-bottom: 95px;
}

.image-block {
  display: block;
  max-width: 100%;
  height: auto;
}

header {
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}

.nave-header {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.web {
  color: var(--accent-color);
}
.studio {
  color: var(--title-color);
}

.logo-st-f {
  color: var(--white);
}

.link {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}

.link-header {
  font-weight: 500;
  line-height: 1.14;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.link-logo {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 95px;
}

.link-nav-menu {
  display: flex;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;

  color: var(--title-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style-type: none;
}

.link-nav-menu .item:not(:last-child) {
  margin-right: 50px;
}

.link-nav {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.link-nav.current {
  color: var(--accent-color);
}

.header-contacts .link-header + .link-header {
  margin-left: 50px;
}
.header-contacts {
  margin-left: auto;
}

.link-header {
  display: inline-flex;
  justify-content: center;
  align-items: baseline;
}

.link-header-svg {
  fill: var(--main-text-color);
  margin-right: 10px;
}

.link-header:hover .link-header-svg,
.link-header:focus .link-header-svg {
  fill: var(--accent-color);
}

.list-btn-filtr {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 50px;
}

.list-btn-filtr .item:not(:last-child) {
  margin-right: 8px;
}

.btn-filtr {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  height: 38px;

  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  color: var(--title-color);
}

.btn-filtr:hover,
.btn-filtr:focus {
  color: var(--white);
  background-color: var(--accent-color);
}
.btn-filtr {
  cursor: pointer;
}

.list-link-projects {
  display: flex;
  flex-wrap: wrap;

  list-style-type: none;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.list-link-projects .item {
  width: 370px;
  background-color: var(--white);
}

.list-link-projects .item {
  margin-right: 30px;
  margin-bottom: 30px;
}
.list-link-projects .item:nth-child(3n) {
  margin-right: 0px;
}
.list-link-projects .item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.link-project {
  display: block;
  border: 1px solid #eeeeee;
  text-decoration: none;
  color: var(--main-text-color);
}

.link-project:hover,
.link-project:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.title-projects {
  margin-top: 0px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.description-projects {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-text-color);
}

.card-text {
  padding: 20px 24px;
}

.link-logo-footer {
  display: block;
  margin-bottom: 20px;
}

.address {
  color: var(--white);
}

.list-contacts {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style-type: none;
}

.list-contacts .item:not(:last-child) {
  margin-bottom: 9px;
}

.title-plus-foot {
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white);
}

.social-icons {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-left: 0px;
  margin-top: 0px;
}

.social-icons-item:not(:last-child) {
  margin-right: 10px;
}

.social-icons-link-foot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.social-icons-foot-svg {
  width: 20px;
  height: 20px;
  fill: var(--white);
}

.social-icons-link:hover,
.social-icons-link:focus {
  background-color: var(--accent-color);
}

.footer-social-link {
  display: flex;
  flex-wrap: wrap;
  width: 206px;
  height: 80px;
  margin-left: 70px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg);
}
